<?xml version="1.0"?>
<robot name="padih_bot" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:property name="M_PI" value="3.1415926535897931"/>

    <xacro:arg name="namespace" default=" "/>
    <xacro:arg name="use_mock_hardware" default="false"/>
    <xacro:arg name="simulation" default="false"/>
    <xacro:arg name="namespace" default=" "/>
    <xacro:arg name="ros_domain_id" default=" "/>
    <xacro:property name="robot_id" value="$(arg ros_domain_id)"/>

    <xacro:include filename="padih_bot_colors.xacro"/>
    <xacro:include filename="padih_bot_inertias.xacro"/>

    <xacro:include filename="padih_bot_core.xacro"/>
    <xacro:include filename="gps.xacro"/>
    <xacro:include filename="OS1-32.xacro"/>
    <xacro:include filename="agribot_diffdrive_control.xacro"/>

</robot>